<a href="https://colab.research.google.com/github/RosanShrestha/contiguous-allocation-in-AOS-using-c/blob/main/day1_python_for_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello gyes")

hello gyes

In [ ]:
a=4
if a>3:
  print(" a is greatethan 3")
else:
  print("a is less than 3")

 a is greatethan 3

In [ ]:
x=5
y="Rosan"
print(x)
print(y)

5
Rosan

In [ ]:
x=7
print(x)
x="Rosan"
print(x)

7
Rosan

In [ ]:
#casting in python
x=str(4);
y=int(3.3)
z=float(3)
print(x,y,z)
print(type(x))
print(type(y))
print(type(z))

4 3 3.0
<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
x="rosan"
print(x)
#is the same as 'rosan'
x='rosan'
print(x)

rosan
rosan

In [ ]:
#case sensitive
a=4
A="Rosan"
print(a)
print(A)

4
Rosan

In [ ]:
#many variable is one line
x,y,z="rosan","ram ","shrestha"
print(x)
print(y)
print(z)

rosan
ram
shrestha

In [ ]:
#one value to multiple variable
x=y=z="Rosan"
print(x)
print(y)
print(z)

Rosan
Rosan
Rosan

In [ ]:
#unpack a collection
fruits=["apple","banana","cherry"]
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
x,y,z=fruits
print(x)

apple

In [ ]:
print(y)

banana

In [ ]:
x=y=z="shrestha"

In [ ]:
print(x,y,z)

shrestha shrestha shrestha

In [ ]:
x="rosan"
y="shrestha"
z="my name"
w="is"
print(z,w,x,y)#there is space between the two variable

print(z+w+x+y)#there is no gap betweeen the two variable

my name is rosan shrestha
my nameisrosanshrestha

In [ ]:
x=5
y="Rosan"
print(x,y)
print(x+y)#this will give error

5 Rosan

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
x=5
y=20
print(x+y)

25

In [ ]:
print('Hello','world')

Hello world

In [ ]:
x=3j
print(x)
print(type(x))

3j
<class 'complex'>

In [ ]:
x=["rosan","shrestha","ram"]
#list in python

print(x)
print(type(x))

['rosan', 'shrestha', 'ram']
<class 'list'>

In [ ]:
#tuple in python
x=("rosan","shrestha","ram")
print(x)
print(type(x))

('rosan', 'shrestha', 'ram')
<class 'tuple'>

In [ ]:
x=range(10)
print(x)
for n in x:
  print(n)

range(0, 10)
0
1
2
3
4
5
6
7
8
9

In [ ]:
x={"name":"rosan","age":30,"country":"Nepal"}
print(x)
print(type(x))

{'name': 'rosan', 'age': 30, 'country': 'Nepal'}
<class 'dict'>

In [ ]:
x={1,23,4}
print(x)
print(type(x))

{1, 4, 23}
<class 'set'>

In [ ]:
x=frozenset({"apple","banana","cherry"})
print(x)
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>

In [ ]:
x=True
print(x)
print(type(x))

True
<class 'bool'>

NameError: name 'x' is not defined